<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assignee list</title>
</head>
<body>
<h1>Assignees</h1>

<a href="/assignee/add">Add new assignee</a>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
    </tr>
    <tr th:each="assignee : ${assignees}">
        <td class="name" th:text="${assignee.getId()}"></td>
        <td class="desc" th:text="${assignee.getName()}"></td>
        <td class="price" th:text="${assignee.getEmail()}"></td>
        <td><a th:href="@{'/assignee/' + ${assignee.getId()} +'/delete'}">delete</a></td>
    </tr>
</table>


</body>
</html>